* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main {
    margin-top: 50px;
}

div + div {
    margin-top: 25px;
}

h1 {
    margin: 0;
}

.hidden {
    display: none;
}

.personne {
    margin-top: 25px;
}

.personne p {
    margin: 0;
}

.personne p + p {
    margin: 5px;
}